In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Carnarvon,AU,2021-12-10 02:20:46,-24.8667,113.6333,78.87,65,0,17.27
1,1,Thompson,CA,2021-12-10 02:16:12,55.7435,-97.8558,1.56,78,90,10.36
2,2,Little Current,CA,2021-12-10 02:20:47,45.9793,-81.9248,32.09,94,100,17.43
3,3,Bethel,US,2021-12-10 02:20:47,41.3712,-73.4140,34.05,72,75,3.44
4,4,Kavieng,PG,2021-12-10 02:16:00,-2.5744,150.7967,84.47,78,99,15.23

In [3]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [8]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of percent windiness
locations = city_data_df[["Lat", "Lng"]]
winds = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=winds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [13]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Carnarvon,AU,2021-12-10 02:20:46,-24.8667,113.6333,78.87,65,0,17.27
4,4,Kavieng,PG,2021-12-10 02:16:00,-2.5744,150.7967,84.47,78,99,15.23
5,5,Rikitea,PF,2021-12-10 02:20:47,-23.1203,-134.9692,76.10,73,64,19.42
7,7,Vaini,TO,2021-12-10 02:20:48,-21.2000,-175.2000,84.36,79,20,10.36
12,12,Saint-Philippe,RE,2021-12-10 02:20:50,-21.3585,55.7679,76.55,76,41,8.97
14,14,Lorengau,PG,2021-12-10 02:20:50,-2.0226,147.2712,86.09,72,100,16.93
18,18,Geraldton,AU,2021-12-10 02:20:52,-28.7667,114.6000,75.61,57,90,14.97
22,22,Bahile,PH,2021-12-10 02:20:53,9.9995,118.7878,86.20,61,5,1.99
23,23,Tamandare,BR,2021-12-10 02:20:53,-8.7597,-35.1047,78.80,86,56,9.19
24,24,Pantai Remis,MY,2021-12-10 02:20:54,4.4557,100.6288,82.42,76,49,3.20

In [14]:
preferred_cities_df.count()

City_ID       142
City          142
Country       142
Date          142
Lat           142
Lng           142
Max Temp      142
Humidity      142
Cloudiness    142
Wind Speed    142
dtype: int64

In [15]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
0        Carnarvon      AU     78.87 -24.8667  113.6333
4          Kavieng      PG     84.47  -2.5744  150.7967
5          Rikitea      PF     76.10 -23.1203 -134.9692
7            Vaini      TO     84.36 -21.2000 -175.2000
12  Saint-Philippe      RE     76.55 -21.3585   55.7679
14        Lorengau      PG     86.09  -2.0226  147.2712
18       Geraldton      AU     75.61 -28.7667  114.6000
22          Bahile      PH     86.20   9.9995  118.7878
23       Tamandare      BR     78.80  -8.7597  -35.1047
24    Pantai Remis      MY     82.42   4.4557  100.6288

In [16]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [19]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [20]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Carnarvon,AU,78.87,-24.8667,113.6333,Hospitality Carnarvon
4,Kavieng,PG,84.47,-2.5744,150.7967,Nusa Island Retreat
5,Rikitea,PF,76.10,-23.1203,-134.9692,People ThankYou
7,Vaini,TO,84.36,-21.2000,-175.2000,Keleti Beach Resort
12,Saint-Philippe,RE,76.55,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""
...,...,...,...,...,...,...
546,Sinnamary,GF,77.86,5.3833,-52.9500,ALETHEIA Appartement Sinnamary
548,Ambon,ID,85.55,-3.6954,128.1814,Swiss-Belhotel Ambon
550,Quelimane,MZ,78.75,-17.8786,36.8883,Hotel Flamingo
552,Nova Russas,BR,84.38,-4.7067,-40.5631,palace motel
556,Phan Thiet,VN,80.13,10.9333,108.1000,Hotel Saigon-PT

In [21]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [26]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [28]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [29]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))